.addTask{
    display: flex;
}
.addTask_left{
    background-color:white;
  width: 50%;
  height: 1000px;

}
.addTask_right{
    background-color:#cab8d1;
    
    width: 50%;
}
.form{
    display:flex;
    flex-direction: column;
    margin-top: 190px;
    margin-left: 250px;
}
.form h1{
    margin-left: 15px;
}
.form input{
    padding: 6px;
    margin-bottom: 5px;
    
}
.addtodotask{
    /* border: 2px solid red; */
}